<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

  <h2>Tutor</h2>
  <form th:object="${owner}" class="form-horizontal" id="add-owner-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('Nome', 'firstName', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Sobrenome', 'lastName', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Endereço', 'address', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Cidade', 'city', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Telefone', 'telephone', 'text')}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${owner['new']} ? 'Adicionar tutor' : 'Atualizar tutor'"
          class="btn btn-default" type="submit" th:text="${text}">Adicionar
          tutor</button>
      </div>
    </div>
  </form>
</body>
</html>
