<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

  <body>
  
  
    <h2>Dados do tutor</h2>
  
  
    <table class="table table-striped" th:object="${owner}">
      <tr>
        <th>Nome</th>
        <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
      </tr>
      <tr>
        <th>Endereço</th>
        <td th:text="*{address}" /></td>
      </tr>
      <tr>
        <th>Cidade</th>
        <td th:text="*{city}" /></td>
      </tr>
      <tr>
        <th>Telefone</th>
        <td th:text="*{telephone}" /></td>
      </tr>
    </table>
  
    <a th:href="@{{id}/edit(id=${owner.id})}" class="btn btn-default">Editar
      tutor</a>
    <a th:href="@{{id}/pets/new(id=${owner.id})}" class="btn btn-default">Adicionar
      animal</a>
  
    <br />
    <br />
    <br />
    <h2>Animais e visitas</h2>
  
    <table class="table table-striped">
  
      <tr th:each="pet : ${owner.pets}">
        <td valign="top">
          <dl class="dl-horizontal">
            <dt>Nome</dt>
            <dd th:text="${pet.name}" /></dd>
            <dt>Data de nascimento</dt>
            <dd
              th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd')}" /></dd>
            <dt>Tipo</dt>
            <dd th:text="${pet.type}" /></dd>
          </dl>
        </td>
        <td valign="top">
          <table class="table-condensed">
            <thead>
              <tr>
                <th>Data da visita</th>
                <th>Descrição</th>
              </tr>
            </thead>
            <tr th:each="visit : ${pet.visits}">
              <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}"></td>
              <td th:text="${visit?.description}"></td>
            </tr>
            <tr>
              <td><a
                th:href="@{{ownerId}/pets/{petId}/edit(ownerId=${owner.id},petId=${pet.id})}">Editar
                  animal</a></td>
              <td><a
                th:href="@{{ownerId}/pets/{petId}/visits/new(ownerId=${owner.id},petId=${pet.id})}">Adicionar
                  visita</a></td>
            </tr>
          </table>
        </td>
      </tr>
  
    </table>
  
  </body>

</html>
