<!doctype html>
<html th:fragment="layout (template, menu)">

  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon.png}">

    <title>petcare-manager</title>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" th:href="@{/resources/css/petclinic.css}"/>

  </head>

<body>

  <nav class="navbar navbar-default" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand" th:href="@{/}">
                <span class="brand-mark">
                  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                </span>
                <span class="brand-name">petcare-manager</span>
              </a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                  <span class="sr-only"><os-p>Abrir navegação</os-p></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>
          <div class="navbar-collapse collapse" id="main-navbar">
              <ul class="nav navbar-nav navbar-right">
                  <li th:class="${menu == 'home' ? 'active' : ''}">
                      <a th:href="@{/}" title="página inicial">
                        <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
                        <span>Início</span>
                      </a>
                  </li>

                  <li th:class="${menu == 'owners' ? 'active' : ''}">
                      <a th:href="@{/owners/find}" title="buscar tutores">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span>Tutores</span>
                      </a>
                  </li>

                  <li th:class="${menu == 'vets' ? 'active' : ''}">
                      <a th:href="@{/vets.html}" title="veterinários">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        <span>Veterinários</span>
                      </a>
                  </li>

                  <li th:class="${menu == 'error' ? 'active' : ''}">
                      <a th:href="@{/oups}" title="simular erro da aplicação">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span>Erro</span>
                      </a>
                  </li>
  
              </ul>
          </div>
      </div>
  </nav>
  <div class="container-fluid">
      <div class="container xd-container">
  
          <th:block th:include="${template}"/>

        <footer class="app-footer">
          <span>petcare-manager</span>
          <span>Controle simples para clínicas veterinárias</span>
        </footer>
      </div>
  </div>

  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>

</html>
